
<<<<<<< HEAD
 @import url(http://fonts.googleapis.com/css?family=Oswald);
  @import url(http://fonts.googleapis.com/css?family=Oswald:300);
=======

>>>>>>> FETCH_HEAD

body {
	background: #fff;
	font-family: Helvetica;
<<<<<<< HEAD

}
#nav {
	font-family: 'Oswald', sans-serif;
	background: #FFDA47;
	text-align: center;
	width: 99%;
	padding-top: px;
	padding-bottom: 0px;
=======
}
#nav {
	background: #FFDA47;
	text-align: center;
	width: 99%;
	padding-top: 30px;
	padding-bottom: 10px;
>>>>>>> FETCH_HEAD
}


#header {
	text-align: center;
}

#result
{
	border-bottom: 1px solid #000;
	padding: 10px;
<<<<<<< HEAD
}

#list
{
	background-color: #F5F5F5;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 99%;
}


#whole {
	background: #ffdf;
	padding-top: 30px;
	text-align: center;
	width: 99%;
	height: 400px;

=======
}

#list
{
	background-color: #F5F5F5;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 99%;
}


#whole {
	background: #ffdf;
	padding-top: 100px;
	text-align: center;
	width: 99%;
	height: 400px;
>>>>>>> FETCH_HEAD

}

footer {
<<<<<<< HEAD
	margin-bottom: 50px;
margin-top: 50px;
}

#main
{

	margin-left: 10px;
	padding-top: 30px;
}

#footer
{
	padding-top: 50px;
	color: #fff;
	background-color: #000;
	text-align: center;
	padding-bottom: 50px;
	width: 99%;
	m
}

#comments
{
	background-color: #FFFFCC;
	width: 99%;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 51px;
    font-size: 46px;
    text-transform: uppercase;
    margin: 0 0 23px 0;
    }
h2 {
    font-family: 'Oswald', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

    h2 {
    font-family: 'Oswald', serif;
    font-weight: 300;
    font-style: light;
    font-size: 20px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

p {
    font-family: 'Oswald', serif;
    font-size: 15px;
    line-height: 23px;
    font-weight: 200px;
    margin: 0 0 23px 0;
    }

li {
   font-family: 'Oswald', serif;
    font-weight: 300;
    list-style-type: none;

}

#rating
{
	 font-family: 'Oswald', serif;
}

label
{
	 font-family: 'Oswald', serif;
}

#comments
{
	font-weight: 400px;
}
=======
	margin-bottom: 10px;

}

#main
{

	margin-left: 10px;
}

#footer
{
	padding-top: 50px;
	color: #fff;
	background-color: #000;
	text-align: center;
	padding-bottom: 50px;
	width: 99%;
}

#comments
{
	background-color: #FFFFCC;
	width: 99%;
}
>>>>>>> FETCH_HEAD
